---
import type { CollectionEntry } from 'astro:content';
import '@fontsource/comic-mono';
import ArrowLeft from '@tabler/icons/outline/arrow-left.svg';
import Layout from './main.astro';
import Card from '../components/card.astro';
import FormattedDate from '../components/formatted-date.astro';
import Tags from '../components/tags.astro';
import Button from '../components/button.astro';
import Giscus from '@giscus/solid';

type Props = CollectionEntry<'blog'>['data'] & { preview?: string };

const { title, date, tags, preview } = Astro.props;
---

<Layout title={title} description={preview}>
  <Card>
    <article>
      <FormattedDate date={date} />
      <h1>
        {title}
      </h1>
      <Tags tags={tags} />
      <slot />
      <Giscus
        client:only="solid-js"
        repo="knpwrs/knpw.rs"
        repoId="MDEwOlJlcG9zaXRvcnkxMDE1ODg2ODE="
        category="Blog Post"
        categoryId="DIC_kwDOBg4eyc4COHt1"
        mapping="og:title"
        reactionsEnabled="1"
        emitMetadata="0"
        inputPosition="bottom"
        theme="preferred_color_scheme"
        lang="en"
      />
    </article>
  </Card>
  <div>
    <Button as="a" href="/blg"><ArrowLeft /> Back to all posts</Button>
  </div>
</Layout>
